<% include ./partials/header.ejs %>
<div class="box">
     <div class="container-fluid bg-overlay">
	<div class="row text-center">
	    <br><br><br><br><br>
		<h1>Delimandu</h1>
		<h4>In your doorstep</h4>
        <button type="button" class="btn btn-primary btn-lg">Get Started</button>
	</div>
</div>
</div>

<div class="container">
        <div class="row">
        <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="gallery-title">Items</h1>
        </div>

        <div align="center">
            <button class="btn btn-default filter-button" data-filter="all">All</button>
            <button class="btn btn-default filter-button" data-filter="hdpe">Books</button>
            <button class="btn btn-default filter-button" data-filter="sprinkle">Electronics</button>
            <button class="btn btn-default filter-button" data-filter="spray">Clothes</button>
            <button class="btn btn-default filter-button" data-filter="irrigation">Politics</button>
        </div>
        <br/>



            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                <img src="http://ichef.bbci.co.uk/wwfeatures/wm/live/1280_640/images/live/p0/54/q9/p054q93q.jpg" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter xxx">
                <img src="http://fakeimg.pl/365x365/" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter xxx">
                <img src="http://fakeimg.pl/365x365/" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                <img src="http://www.crwflags.com/fotw/images/n/np%7Dncp1.gif" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                <img src="https://ae01.alicdn.com/kf/HTB1ZOrCeS3PL1JjSZFxq6ABBVXaS/New-Autumn-Style-Luxury-Business-Casual-Suit-Men-Blazers-Set-Professional-Formal-Wedding-Dress-Beautiful-Design.jpg" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Flag_of_the_Communist_Party_of_Nepal_%28Maoist%29.svg/1200px-Flag_of_the_Communist_Party_of_Nepal_%28Maoist%29.svg.png" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                <img src="https://i.pinimg.com/originals/a7/da/5c/a7da5ca8be57ad3fdde7cf84e71b5851.jpg" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                <img src="http://setopati.net/resize_image.php?src=images/newsManagement/68173e3b3f48eff087ac8b6cce1cbdec.jpg&w=675&h=675" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Logo_of_CPN_%28UML%29.png/1200px-Logo_of_CPN_%28UML%29.png" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                <img src="http://highstermobile.co/blog/wp-content/uploads/2015/11/which-cell-phone-select.jpg" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                <img src="http://highstermobile.co/blog/wp-content/uploads/2015/11/which-cell-phone-select.jpg" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                <img src="http://www.www8-hp.com/us/en/images/i_essential_01_big_image_tcm245_2268831_tcm245_2193389_tcm245-2268831.jpg" class="img-responsive">
            </div>
        </div>
    </div>
</section>





<% include ./partials/footer.ejs %>